# Supabase Credentials
SUPABASE_URL=""
SUPABASE_KEY="" # Service Role Key
DATABASE_URL=""

# Broker Credentials
NEXXDIPAY_USER=""
NEXXDIPAY_PASS=""
NEXXDIPAY_TOTP_SEED=""

LOOPAYX_USER=""
LOOPAYX_PASS=""
LOOPAYX_TOTP_SEED=""

DASBANQ_USER=""
DASBANQ_PASS=""
DASBANQ_TOTP_SEED=""
